.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 53px;
  padding: 0 10px;

  .icon {
    color: #61dafb;

    &:hover {
      cursor: pointer;
      background-color: rgba(29, 161, 242, 0.1);
    }
  }
}

.toolbar__title {
  font-size: 19px;
  font-weight: 800;
}
